@media all and (min-width:800px){
  .text-wrap h3{
    font-size: 1.75rem;
  }

  section{
    text-align: left;

    .row h2{
      font-size: 2.3125rem;
    }
  }

  .row{
    max-width: 1110px;
    margin: auto;
  }

  header{
    background: 20% 50%/200% no-repeat url(../images/bg-pattern-intro.svg), linear-gradient(90deg,#ff8f70, #ff3d54);
    padding-top: 60px;
    padding-bottom: 155px;
    
    .logo-wrap{
      max-width: 103px;
    }

    .flex{
      justify-content: flex-start;
      align-items: center;
      gap: 60px;
    }

    .mobile-menu-icon{
      display: none;
    }

    .menu-wrap{
      position: relative;
      top: 0;
      max-height: inherit;
      background: none;
      box-shadow: none;
      width: 85%;
      overflow: visible;
    }

    .menu{
      display: flex;
      justify-content: space-between;
      padding: 0;

      li>a{
        color: $neutral-color1;

        &:hover{
          text-decoration: underline;
        }
      }

      li.has-child>a:after {
        background: no-repeat url(../images/icon-arrow-light.svg);
      }

      ul li.has-child:hover > .child-menu,
      ul li.has-child .child-menu:hover,
      ul li.has-child .child-menu:focus {
        visibility: visible;
        display: block;
        max-height:1000px;
        padding: 25px;
      }

      li > ul.child-menu >li >a {
        color: $body-copy;
        text-align: left;
        padding-bottom: 9px;
        padding-top: 9px;

        &:hover{
          color: $footer-bg;
          text-decoration: none;
        }
      }

      .child-menu {
        overflow: hidden;
        transition: 0s linear;
        background: #fff;
        position:absolute;
        min-width: 168px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px $footer-text-color;
        transform: translateX(-26px);
      }

    }

    .menu-left>ul,
    .menu-right>ul{
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .menu-left{
      margin-bottom: 0;
    }

    .menu-right{
      padding-top: 0;
      border-top: none;

      .btn-signup{
        background-image: initial;
        margin-top: 0;
        @include btn-clr($neutral-color1, $primary-color1 );

        &:hover{
          @include btn-clr($primary-color2, $neutral-color1 );
          text-decoration: none;
        }
      }
    }

    .banner{
      margin-top: 115px;
    }

    .text-content{
      margin-bottom: 42px;

      h1{
        font-size: 3.75rem;
      }

      p{
        font-size: 1.25rem;
      }
    }

    .btn{
      padding: 10px 22px;
    }
  }
  .section1{
    padding: 157px 10px 262px;
    position: relative;
    // background: 153% 165%/auto no-repeat url(../images/illustration-editor-desktop.svg);

    &:before {
      content: '';
      position: absolute;
      background: -30%/auto no-repeat url(../images/illustration-editor-desktop.svg);
      width: 50%;
      height: 100%;
      right: 0;
      top: 0;
    }
    
    img{
      display: none;
    }

    .col-left{
      width: 50%;
      padding: 0;
    }

    h2{
      margin-bottom: 110px;
      text-align: center;
    }
    .text-wrap{
      
      h3{
        margin-top: 75px;
        margin-bottom: 24px;
      }

      p{
        line-height: 1.8;
        letter-spacing: .7px;
      }
    }
  }

  .section2{
    margin-top: 0;
    padding-bottom: 0;
    background: -45% 84%/70% no-repeat url(../images/bg-pattern-circles.svg), linear-gradient(#2c2d3f 0%, #3f4164 100%);

    .row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }

    img{
      margin-left: -40px;
      margin-top: -70px;
      margin-bottom: -100px;
    }

    .col-right{
      text-align: left;

      h2{
        margin-bottom: 24px;
      }

      p{
        letter-spacing: .5px;
      }
    }
  }

  .section3{
    position: relative;

    &::before{
      content: '';
      position: absolute;
      background: 110%/auto no-repeat url(../images/illustration-laptop-desktop.svg);
      width: 50%;
      height: 100%;
      left: 0;
      top: 0;
    }

    .row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 253px 0 272px;
    }

    img{
      display: none;
    }

    p{
      letter-spacing: .5px;
      line-height: 1.8;
      padding-bottom: 35px;
    }
  }

  footer{
    padding: 75px 20px 30px;

    .row{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      text-align: left;
      gap: 30px;
    }

    img{
      max-width: 100px;
    }
  }
}
  
  
  