@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$font1 : 'Overpass', sans-serif;
$font2 : 'Ubuntu', sans-serif;
$primary-color1: hsl(356, 100%, 66%);
$primary-color2: hsl(355, 100%, 74%);
$headings-color: hsl(208, 49%, 24%);
$neutral-color1: hsl(0, 0%, 100%);
$footer-text-color: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-bg: hsl(240, 10%, 16%);

@mixin btn-clr($bg, $clr){
  background-color: $bg;
  color: $clr;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font1;
  font-size: 1rem;
  color: $body-copy;
  line-height: 1.65;
}

h1, h2, h3{
  font-family: $font1;
  color: $headings-color;
  line-height: 1.15;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

section{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

header{
  background: 35% 35%/350% no-repeat url(../images/bg-pattern-intro.svg), linear-gradient( 90deg, #ff8f70, #ff3d54 );
  padding: 50px 20px 135px;
  border-bottom-left-radius: 90px;

  .logo-wrap{
    max-width: 73px;
  }

  .banner{
    margin-top: 80px;
    text-align: center;

    h1{
      color: $neutral-color1;
      margin-bottom: 10px;
      line-height: 1.4;
    }

    .text-content{
      margin-bottom: 40px;

      p{
        color: $footer-text-color;
        font-weight: 300;
      }
    }
  }

  .menu-wrap{
    background: $neutral-color1;
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    transition: all .7s ease;
    width: 100%;
    position: absolute;
    top: 55px;
    box-shadow: 0px 10px 15px $footer-text-color;
  }

  .menu-wrap.active{
    display: block;
    left: 0;
    max-height: 1000px;
  }

  .menu{
    padding: 35px 24px;

    li{
      list-style-type:none;
      text-align:center;
      
      a{
        display:block;
        padding:13px 0px;
        position:relative;
        color: $body-copy;
        font-weight: 600;
      }
    }

    li.has-child>a:after {
      content: ' ';
      width: 10px;
      background: no-repeat url(../images/icon-arrow-dark.svg);
      position: absolute;
      height: 7px;
      top: 21px;
      margin-left: 10px;
    }
  }

  .menu-left{
    margin-bottom: 23px;
  }

  .menu-right{
    padding-top: 23px;
    border-top: 1px solid $footer-text-color;

    .btn-signup{
      @include btn-clr(hsl(13, 100%, 72%), $neutral-color1);
      background-image:linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
      padding: 10px 40px;
      margin-top: 13px;
      display: inline-block;
    
      &:hover{
        @include btn-clr(hsl(13, 100%, 72%), $neutral-color1);
        background-image: none;
      }
    }
  }

  .child-menu{
    overflow: hidden;
    max-height: 0;
    transition: .5s linear;
    background: rgba($footer-text-color, .5);
  }

  .has-child.active .child-menu{
    max-height: 1000px;
    border-radius: 8px;
    padding: 13px;
    height: auto;
  }

  .has-child.active a:after{
    transform: rotate(180deg);
  }

  
}

.btn{
  border-radius: 25px;
  border: 1px solid $neutral-color1;
  padding: 8px 15px;
  margin: 0 7px;
  font-weight: 700;
  display: inline-block;
}


.btn-light{
  @include btn-clr($neutral-color1, $primary-color1 );

  &:hover{
    @include btn-clr($primary-color2, $neutral-color1 );
    border-color: transparent;
  }
}

.btn-transparent{
  @include btn-clr(transparent, $neutral-color1);

  &:hover{
    @include btn-clr($neutral-color1, $primary-color1 );
  }
}



.flex{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.text-wrap{

  h3{
    font-size: 1.625rem;
    line-height: 1.15;
    margin-bottom: 20px;
  }
}

.section1{
  padding: 98px 0;

  h2{
    margin-bottom: 45px;
    font-size: 1.4375rem;
  }

  .col-left{
    padding: 0px 20px;
  }

  h3{
    margin-top: 70px;
  }
  
}

.section2{
  background: 50% -225px/515px no-repeat url(../images/bg-pattern-circles.svg), linear-gradient( hsl(237, 17%, 21%) 0%, hsl(237, 23%, 32%) 100%);
  border-radius: 0px 90px 0px 90px;
  margin-top: 50%;
  padding-bottom: 100px;

  img{
    margin-top: -50%;
  }

  h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: $neutral-color1;
  }
  
  p{
    color: $footer-text-color;
  }
}

.section3{
  
  .row{
    padding: 77px 0 80px;
  }

  h3{
    margin-top: 50px;
  }
}

footer{
  background-color: $footer-bg;
  padding: 65px 20px 20px;
  text-align: center;
  border-top-right-radius: 90px;

  img{
    margin-bottom: 75px;
    max-width: 73px;
  }

  h4{
    margin-bottom: 30px;
    color: $neutral-color1;
    font-family: $font2;
  }

  ul{
    margin-bottom: 45px;
  }

  li{
    list-style-type: none;
    margin-bottom: 5px;

    a{
      color: $footer-text-color;
      font-family: $font2;
    }

    &:hover a{
      text-decoration: underline;
    }
  }
}

@import 'responsive';